.wrapper_outer_admin{
    padding-top: 0;
    min-height: 100vh;
    padding-right: 0;
}
.dashboard_admin_logo{
    width: auto;
    height: auto;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.custom_btn_for_navbar_mobile{
    margin-left: auto;
    margin-right: 0;
    display: block;
    margin-bottom: 20px;
    background: #5f7a61;
    color: white;
    padding: 7px 10px 10px;
}

@media (max-width: 991px){
    .wrapper_outer_admin{
        padding-left: 0;
    }
    .sidebar-offcanvas{
        top: 0 !important;
    }
    .dashboard_admin_logo{
        margin-top: 0;
    }
    .custom_btn_for_navbar_mobile{
        margin-top: 10px;
        margin-right: 10px;
    }
    .custom_btn_for_navbar_mobile.dashboard_nav_btn{
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: 0;
        z-index: 1;
    }
    .mobile-space-top{
        padding-top: 70px !important;
    }
}
@media (max-width: 767px){
    .custom_btn_for_navbar_mobile.dashboard_nav_btn{
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: 0;
        z-index: 1;
    }
    .space-right-mobile{
        padding-right: 0px;
    }
    .no-mobile-margin-bottom{
        margin-bottom: 0 !important;
    }
}


/*CUSTOM DYNAMIC ATTRIBUTE*/
.dynamic_variant{
    margin-top: 20px;
    padding: 20px 30px;
    box-shadow: none;
}
.dynamic_variant .card-title{
    margin-bottom: 10px;
}
.dynamic_variant .add_variant_attribute_button{
    width: fit-content;
    background: #617a61;
    color: white !important;
    padding: 6px 20px;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 0 black;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 15px;
}
.dynamic_variant .add_variant_attribute_button:hover{
    text-decoration: none;
    box-shadow: 0 0 20px 0px #0000004d;
}
.dynamic_variant input{
    max-width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #666;
}
.variant-attributes-container-input > div{
    margin: 10px 20px;
}
.variant-attributes-container-input .remove_button{
    color: #f33939;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    margin-left: 20px;
    transition: all 0.3s ease;
}
.variant-attributes-container-input .remove_button:hover{
    text-underline-offset: 7px;
}
.variant-attributes-container-input svg{
    width: 18px;
    height: auto;
    color: #f33939;
    margin-left: 5px;
}
.variant-attributes-container-input svg path{
    fill: #f33939;
}

#add-variant{
    width: fit-content;
    background: #617a61;
    color: white !important;
    padding: 6px 20px;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 0 black;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.dynamic_variant {
    background: white !important;
    border: 1.5px dashed black !important;
}
#remove-variant{
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-align: right;
    background: #f33939;
    color: white;
    border-radius: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: 0;
    padding: 10px 50px;
}
#remove-variant:hover{
    background: #bf0000;

}

@media (max-width: 749px){
    #remove-variant{
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}



/*STICKY SIDEBAR*/
.main-panel{
    margin-left: 235px; 
    width: calc(100% - 235px);
}
.sidebar#sidebar{
    left: 0;
    position: fixed;
    overflow: hidden auto;
    height: 100vh;
}

@media (max-width: 991px){
    .sidebar#sidebar{
        left: unset;
        height: 100vh;
        max-height: 100vh;
    }
    .main-panel{
        width: 100%;
        margin-left: 0;
    }
}


/*INCOME STATEMENT PAGE CSS*/
.income-statement .flex-box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.income-statement .flex-box-container .footnote{
    margin-bottom: 0;
}
.income-statement .flex-box-container .footnote-container{
    margin-top: 20px;
}
.income-statement .flex-box-container .card{
    width: calc(25% - 15px);
}
.income-statement .flex-box-container .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.income-statement h3.page--title{
    margin-bottom: 30px;
    padding: 0 !important;
}
.income-statement .table-head{
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.income-statement table{
    background: white;
    border: none;
}
.income-statement table td,
.income-statement table th{
    background: white;
    border: none;
    text-align: center;
}
.income-statement table th{
    color: #5F7A61;
}
.income-statement .flex-box-container .fs-30{
    color: #5F7A61;
    font-weight: 700;
}
.income-statement .table-container{
    overflow: auto;
}
@media (max-width: 767px){
    .income-statement .flex-box-container .card{
        width: calc(50% - 10px);
    }
    .income-statement table{
        min-width: 700px;
    }
}
@media (max-width: 450px){
    .income-statement .flex-box-container .card{
        width: 100%;
    }
}